a, a:focus {
    text-decoration: none !important;
    color: inherit;
}

body {
    margin: 0;
    overflow: hidden;
    background-image: url('image186.png');
    position: absolute;
    height: 100%;
    width: 100%;
}

.slate-holder {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.slate {
    font-size: calc(3rem + 5vw);
    font-family: 'Megrim';
    color: #ffff99;
    text-shadow: -10px -5px black;
}

.github-holder {
    position: absolute;
    left: 50%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.github {
    font-size: calc(2rem + 3vh);
    color: #009999;
    text-shadow: -2px 2px #000;
}
