a, a:focus {
    text-decoration: none !important;
    color: inherit;
}

body {
    margin: 0;
    overflow: hidden;
    background-image: url('4.png');
    position: absolute;
    height: 100%;
    width: 100%;
}

.slate-holder {
    position: absolute;
    left: 30%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.slate {
    font-size: 12em;
    font-family: 'Major Mono Display';
    color: #66b3ff;
    text-shadow: -10px -5px black;
}

.github-holder {
    position: absolute;
    left: 78%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.github {
    font-size: 4em;
    color: #ff7777;
    text-shadow: -2px 2px #000;
}
