* {
    text-decoration: none;
}

html{
    background-color: #005345fa;
    color: #c9d5e0;
}

@media only screen and (max-device-width: 575px){
    .submiddle{
        text-align: center;
    }
}

#techhead{
    top: 6em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#pfp{
    width: 100%;
    position: relative;
    top: 4em;
    display: flex;
    justify-content: center;
}

#profilePicture{
    width: 17em;
    border-radius: 50%;
    box-shadow: 4px 4px 20px 12px #00000052;
}

#btnDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 6em;
}

#viewProjects{
    border: solid #0000002a 5px;
    background: transparent;
    width: 350px;
    font-size: 4vh;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px;
    font-family: 'Mandali';
    font-weight: 600;
}

#statDiv{
    width: 100%;
    position: relative;
    top: 5em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#statCard{
    width: 22em;
    box-shadow: 1px 15px 20px 15px #00000050;
}

#viewProjects2{
    border: solid #0000002a 5px;
    background: transparent;
    width: 350px;
    font-size: 4vh;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px;
    font-family: 'Mandali';
    font-weight: 600;
}

#viewProjects2:hover{
    border: solid #ffffffa6 5px;
    color: #ffffffa6;
}

#viewProjects:hover{
    border: solid #ffffffa6 5px;
    color: #ffffffa6;
}

.middle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#healthcare {
    text-decoration: none;
    color: #c9d5e0;
}

.button{
    border: solid #0000002a 5px;
    background: transparent;
    width: 350px;
    font-size: 4vh;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px;
    font-family: 'Mandali';
    font-weight: 600;
    margin: 20px;
}

.button:hover{
    background-color: #014237;
    border: solid #ffffffa6 5px;
    color: #ffffffa6;
}

.text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submiddle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4em;
}

.link{
    color: #9ad3d3;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.link:hover{
    text-decoration: none;
}

#thoughtcontainer{
    display: flex;
    justify-content: center;
}

#thoughts{
    position: absolute;
    top: 110vh;
    width: 50em;
    height: 50em;
    border-radius: 20px;
    margin-bottom: 12em;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
}

#slate{
    position: absolute;
    top: 200vh;
}

#aboutme{
    position: absolute;
    top: 6em;
    left: 5em;
    width: 15em;
    height: 8em;
    display: flex;
    justify-content: center;
    border: white solid 2px ;
    border-radius: 15px;
    padding: 5px;
}

.content{
    position: absolute;
    top: 2.5em;
}

#gif{
    position: absolute;
    top: 6em;
    right: 5em;
    width: 17em;
    height: 17em;
    display: flex;
    justify-content: center;
    border: white solid 2px ;
    border-radius: 15px;
    padding-top: 15px;
}

#gifgif{
    position: absolute;
    top: 2em;
    width: 15em;
    height: 15em;
}

.title{
    position: absolute;
    top: -1em;
    padding: 5px;
}

#links{
    position: absolute;
    top: 40em;
    width: 40em;
    height: 8em;
    display: flex;
    justify-content: center;
    border: white solid 2px ;
    border-radius: 15px;
}

.icons{
    font-size: 2.5em;
    position: absolute;
    top: 2em;
    text-align: center;
}

.ilink{
    position: relative;
    text-decoration: none;
    color: #ffffff49;
    top: 0;
    transition: top ease 0.5s;
}

.ilink:hover{
    color: #ffffff;
    top: -7px;
    transition: all 300ms ease-in;
}

#workingOn{
    position: absolute;
    top: 17em;
    left: 5em;
    width: 15em;
    height: 6em;
    display: flex;
    justify-content: center;
    border: white solid 2px ;
    border-radius: 15px;
    padding: 5px;
}

#slateboard{
    position: relative;
    top: 1em;
}

#projectsMaintain{
    position: absolute;
    top: 26em;
    left: 5em;
    width: 15em;
    height: 8em;
    display: flex;
    justify-content: center;
    border: white solid 2px ;
    border-radius: 15px;
    padding: 5px;
}