@media only screen and (max-device-width: 800px){
    .text{
        font-size: 1.3em !important;
    }

    .refresh{
        position: absolute;
        top: 75% !important;
    }
}


body {
    background-color: #0d1526;
}

.text{
    color: #f7e1b5;
    font-size: 2em;
    font-family: 'Bebas Neue';
}

#container{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.refresh{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    background: none;
    outline: none;
    border: none;
    color: #f7e1b5;
}

#submit{
    position: absolute;
    font-family: 'Bebas Neue';
    color: #f7e1b5;
    bottom: 10px;
    right: 10px;
    font-size: 1.2em;
}
